<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Norwegian Rails</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="navbar-brand pl-4">
        <img src="../../Content/Images/Rails_Logo.png"> NORWEGIAN RAILS
    </div>
</nav>
<div class="container p-4 pt-5">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2020 - Norweagian Rails</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>