<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Norwegian Rails</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script type="text/javascript" src="~/Scripts/DestinationFromAndTo.js"></script>
    <script type="text/javascript" src="~/Scripts/Tickets.js"></script>
    <link rel="stylesheet" href="~/Stylesheet/MDRails.less" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="navbar-brand ml-4">
        <a href="~/Views/Home/Index.cshtml"> <img src="../../Content/Images/Rails_Logo.png"> NORWEGIAN RAILS</a>
    </div>

    <div>
        @Html.ActionLink("Receipts", "receipts", "Home", null, new { @class = "h5" })
    </div>
</nav>
<div class="container p-1 pt-5">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2020 - Norweagian Rails</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>