@model WebApplication1.Models.Ticket
@{ 
    ViewBag.Title = "Purchase";
    var timeleft = Model.route.Depart - DateTime.Now;
    var Expires = Model.route.Depart + new TimeSpan(0, 1, 0, 0);
    if (timeleft.Minutes < 0)
    {
        timeleft = new TimeSpan(0, 0, 0, 0);
        Model.IsValid = false;
    }

}

<h1 class="text-center">Your Ticket</h1>

<div class="d-flex justify-content-center align-items-center">

    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../Content/Images/qrcode-ticket-validation.jpg" alt="MD Rails Logo">
        @if (timeleft.Minutes > 0 || Model.IsValid)
        {
    <button class="btn btn-danger">Cancel Ticket</button>
                    <div class="text-center text-success font-weight-bold">
                        TICKET IS VALID
                    </div>}
        @if (!Model.IsValid)
        {
    <button class="btn btn-danger">Cancel Ticket</button>
    <div class="text-danger text-center font-weight-bold">
        TICKET IS NOT VALID OR EXPIRED
    </div>}
        <div class="card-body">
            <h4 class="card-title">QR Code for Validation</h4>
            <p class="card-text">Your train @Model.route.TrainNumber to @Model.DestinationTo is leaving in <br /> <strong><i>@timeleft.Minutes minutes</i></strong> </p>
            <p class="card-text">This ticket will expire: <br /><strong>@Expires</strong></p>
            <p class="card-text">Passenger count : <br /> <strong> @Model.AdultsTravelling adults, @Model.ChildrenTravelling children, @Model.StudentsTravelling students </strong></p>
            <h6>Have a nice trip, <br /> Welcome back to @Model.DestinationFrom anytime</h6>
        </div>
    </div>

</div>
