@model List<WebApplication1.Models.Receipt>
@{
    ViewBag.Title = "Receipts";
}

<table>
    <tr>
        <th>
            Purchase date
        </th>
        <th>
            Email
        </th>
        <th>
            Valid
        </th>
        <th>
            Travel route
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PurchaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.User.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.IsValid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.DestinationFrom) -> @Html.DisplayFor(modelItem => item.Ticket.DestinationTo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.route.Price)
    </td>
</tr>
}

</table>